@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;800&display=swap');

@keyframes animation{
    0%{
        transform: translate(-50%, -10px);
    }
    50%{
        transform: translate(-50%, 0px);
    }
    100%{
        transform: translate(-50%, -10px);
    }
}

@keyframes animation-2{
    0%{
        font-size: 3em;
    }
    25%{
        font-size: 3em;
    }
    50%{
        font-size: 3.5em;
    }
    75%{
        font-size: 3em;
    }
    100%{
        font-size: 3em;
    }
}

*{
    margin: 0;
    padding: 0;
}

html{
     scroll-behavior: smooth;
     overflow-x: hidden;
}
    
html, body{
    min-height: 100% !important;
    height: 100%;
    width: 100%;
    display: flex;
    font-size: 14px;
    overflow-x: hidden;
}

/* side bar */
nav{
    background-color: #fed43a;
    position: fixed;
    height: 100%;
    width: 7%;
}

.wrapper{
    position: relative;
    display: flex;
    width: 100%;
    height: 80%;
    margin-top: 25%;
    margin-right: auto;
    margin-left: auto;
    padding-top: 60px;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    font-size: 1.5em;
    
}

.wrapper button{
    font-family: 'Montserrat', sans-serif;
    transform: rotate(-90deg);
    background-color: #fed43a;
    border: none;
    font-size: 0.8em;
    cursor: pointer;
}

.wrapper-1{
    width: 100%;
    height: 25%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.wrapper-1 i{
    cursor: pointer;
    color: black;
}

.wrapper-1 i:focus{
    color: black;
}

/* container */

.container{
    background: rgb(24, 24, 24);
    width: 93%;
    margin-left: 7%;
    height: 3940px;
}

/* TOP */

.top{
    display: flex;
}

/* top pertama */

.top-1{
    background-color: rgb(24, 24, 24);
    height: 830px;
    width: 50%;
    padding-top: 70px;
}

.inside-top{
    width:80%;
    margin-left: auto;
    margin-right: auto;
}

.top-1 p{
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
}

.top-1 p:nth-child(1){
  -webkit-text-stroke: 3px #fff;
  font-size: 4em;
}

.top-1 p:nth-child(2){
    font-size: 4em;
    color: rgb(24, 24, 24);
    transform: translateY(-69px);
}

.top-1 p:nth-child(3){
    color: white;
    font-size: 7em;
    transform: translate(-5px, -90px);
}

.top-1 p:nth-child(4){
    font-size: 3.5em;
    -webkit-text-stroke: 3px white;
    transform: translateY(-110px);
}

.top-1 p:nth-child(5){
    font-size: 3.5em;
    color: rgb(24, 24, 24);
    transform: translateY(-169px);
}

.top-1 p:nth-child(6){
    width: 69%;
    font-weight: normal;
    color:#fff;
    font-size: 1.8em;
    transform: translateY(-120px);
}

.top-1 button{
    font-family: 'Montserrat', sans-serif;
    width: 50%;
    padding: 20px;

    font-weight: bold;
    font-size: 1.5em;
    background-color: #fed43a;
    border: none;
    transition: all 0.4s;
    transform: translateY(-10%);
}

.top-1 button:hover {
    transform: translateY(-20%);
}

/* top kedua */

.profile{
    background-color: #fed43a;
    height: 752px;
    display: flex;
    flex-direction: column;
    width: 50%;
    padding-top: 148px;
}

.profile img{
    width: 70%;
    height: auto;
    display: flex;
    margin-left: 50%;
    transform: translateX(-50%);
    animation: animation 4s infinite;
}

.profile button{
    font-family: 'Montserrat', sans-serif;
    width: 50%;
    padding: 20px;
    margin-left: 50%;
    transform: translate(-50%, -50%);
    font-weight: bold;
    font-size: 1.5em;
    background-color: #6c48c2;
    border: none;
    color: white;
    transition: all 0.4s;
}

.profile button:hover{
    transform: translate(-50%, -60%);
}

.middle{
    display: flex;
}

.middle .left{
    width: 50%;
    color: white;
    font-size: 5em;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    height: auto;
    padding:100px 0;
}

.middle .right{
    width: 50%;
    background-color: #fed43a;
    height: 305px;
}

.middle-2{
    display: flex;
}

.middle-2 .left{
    width: 50%;
    height: auto;
    padding: 50px 0 50px 0;
    background-color: rgb(24, 24, 24);
    display: flex;
    flex-direction: column;
    text-align: center;
}

.icon-skill{
    width: 100px;
    height: 100px;
    border-radius: 100%;
    background-color:#fed43a;
    font-size: 50px;
    display: flex;
    margin-left: auto;
    margin-right: auto;
}

.icon-skill i{
    margin: auto;
    color: rgb(24, 24, 24);
}

.title-skill{
    margin-top: 20px;
    font-family: 'montserrat', sans-serif;
    font-size: 1.5em;
}

.title-skill-left{
    color: #fed43a;
}

.title-skill-right{
    color: rgb(24, 24, 24);
}

.desc-skill{
    width: 50%;
    margin: 20px auto 0 auto;
    font-size: 1.2em;
    font-family: 'montserrat', sans-serif;
}

.desc-skill-left{
    color: white;
}

.desc-skill-right{
    color: rgb(24, 24, 24);
}

.middle-2 .right{
    width: 50%;
    height: auto;
    padding: 50px 0 50px 0;
    background-color: #fed43a;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.middle-3{
    width: 100%;
    height: auto;
}

.middle-3 .right{
    border-radius: 40px 0 0 40px;
    border: solid 4px #fed43a;
    padding: 40px 0;
    width: 95%;
    margin-left: 5%;
    height: auto;
    display: flex;
    justify-content: space-around;
}

.middle-3 .right .tools{
    width: 18%;
    background-color: #fed43a;
    display: flex;
    flex-direction: column;
    padding: 50px 0 40px 0;
    border-radius: 20px;
    align-items: center;
    height: 200px;
}

.middle-3 .right .tools:hover{
    transform: scale(1.1);
    transition: all 0.4s;
}

.middle-3 .right .tools .logo img{
    height: 50px;
}

.middle-3 .right .tools .logo{
    width: 60%;
    margin: 0 auto;
    font-size: 1.3em;
    display: flex;
    align-items: center;
    margin-bottom: 40px;
    justify-content: space-around;
    font-family: 'montserrat', sans-serif;
    font-weight: bold;
}

.middle-3 .right .tools .desc{
    width: 70%;
    font-family: 'montserrat', sans-serif;
    font-weight: bold;
}

.middle-4 .center{
    width: 60%;
    background-color: rgb(24, 24, 24);
    border-radius: 20px;
    border: solid 4px #fed43a;
    height: 300px;
    z-index: 1;
    margin-left: 20%;
    display: flex;
    float: left;
}

.middle-4 .center .profile-2{
    height: 300px;
    width: 300px;
    width: auto;
    border-radius: 18px;
    overflow: hidden;
}

.middle-4 .center .desc{
    color: white;
    width: 100%;
    margin: auto 10% auto 0;
    font-family: 'montserrat', sans-serif;
    font-size: 1.4em;
}

.middle-4 .center img{
    height: 400px;
}

.middle-4 .right{
    width: 50%;
    background-color: #fed43a;
    height: 330px;
    margin-left: 50%;
}

.middle-5{
    width: 100%;
    height: auto;
    background-color: #fed43a;
    text-align: center;
    padding: 20px 0;
}

.middle-5 p{
    margin-top: 50px;
    font-family: 'montserrat', sans-serif;
}

.middle-5 p:nth-child(1){
    font-size: 3em;
    font-weight: bold;
    animation: animation-2 2s infinite;
}

.middle-5 p:nth-child(2){
    font-size: 1.5em;
    font-weight: bold;
}

.middle-5 .ctc{
    display: flex;
    justify-content: space-between;
    width: 25%;
    margin: 50px auto;
}

.middle-5 .ctc .logo{
    width: 70px;
    height: 70px;
    border-radius: 100%;
    background-color: rgb(24, 24, 24);
    color: #fed43a;
    font-size: 3em;
    transition: all 0.4s;
    border: none;
}

.middle-5 button{
    cursor: pointer;
}

.middle-5 .ctc .logo:hover {
    color: rgb(11, 20, 122);
    background-color: white;
    font-size: 3em;
    transform: translateY(-10%);
}
   

@media screen and (max-width:1420px){
    .middle-5 .ctc{
        width: 300px;
    }

    .top-1 p:nth-child(4){
        font-size: 2em;
    }

    .top-1 p:nth-child(5){
        font-size: 2em;
        transform: translateY(-144px);
    }
    
    .top-1 button{
        width: 280px;
    }
}

@media screen and (max-width:1200px) {
    .container{
        width: 100%;
        margin-left: 0px;
    }
    .top-1 p:nth-child(1){
        display: none;
    }

    .top-1 p:nth-child(2){
        color: #fed43a;
        transform: translateY(0);
        font-size: 2em;
    }

    .top-1 p:nth-child(3){
        font-size: 5.5em;
        transform: translateY(-10px);
    }

    .top-1 p:nth-child(4){
        display: none;
    }

    .top-1 p:nth-child(5){
        font-size: 2em;
        color: #fed43a;
        transform: translateY(-20px);
    }

    .top-1 p:nth-child(6){
        width: 100%;
        font-size: 1.4em;
        transform: translateY(10px);
    }

    .top-1 button{
        margin-top:100px
    }

    .profile img{
        width: 50%;
    }
    .middle-3 .right{
        width: 100%;
        margin-left: 0;
        border-radius: 0;
        border-left: none;
        border-right: none;
    }
    nav{
        display: none;
    }
}

@media screen and (max-width:700px) {
    nav{
        display: none;
    }

    .profile img{
        width: 70%;
    }

    .container{
        width: 100%;
        margin-left: 0px;
        height: 5900px;
    }

    /* top pertama */

    .top{
        flex-direction: column;
    }

    .top-1{
        width: 100%;
        height: 500px;
    }
    .inside-top{
        width: 80%;
    }

    .top-1 p:nth-child(1){
        display: none;
    }

    .top-1 p:nth-child(2){
        color: #fed43a;
        transform: translateY(0);
        font-size: 2em;
    }

    .top-1 p:nth-child(3){
        font-size: 5.5em;
        transform: translateY(-10px);
    }

    .top-1 p:nth-child(4){
        display: none;
    }

    .top-1 p:nth-child(5){
        font-size: 2em;
        color: #fed43a;
        transform: translateY(-20px);
    }

    .top-1 p:nth-child(6){
        width: 100%;
        font-size: 1.4em;
        transform: translateY(10px);
    }
    
    .top-1 button{
        margin-top: 100px;
        width: 100%;
    }

    /* top kedua */

    .profile{
        width: 100%;
        height: 400px;
        padding-top: 20px;
    }

    .profile button{
        width: 80%;
    }

    .middle .left{
        width: 100%;
        font-size: 3em;
        padding: 50px 0 50px 0;
        height: auto;
    }

    .middle .right{
        display: none;
    }

    .middle-2{
        flex-direction: column;
    }

    .middle-2 .left, .middle-2 .right{
        width: 100%;
        padding: 40px 0 40px 0;
        height: auto;
    }

    .middle-3 .right{
        flex-direction: column;
        margin-left: 0;
        width: 100%;
        border: none;
        align-items: center;
    }

    .middle-3 .right .tools{
        width: 60%;
        margin-bottom:80px;
    }

    .middle-4 .center{
        height: 500px;
        flex-direction: column;
        width: 80%;
        transform: translateX(0);
        margin-left: 10%;
    }

    .middle-4 .right{
        display: none;
    }

    .middle-4 .center .profile-2{
        height: 220px;
        margin-left: 20%;
    }

    .middle-4 .center .desc{
        margin: 40px 10% 0 10%;
        width: auto;
        font-size: 1.2em;
    }

    @keyframes animation-2{
        0%{
            font-size: 2.2em;
        }
        25%{
            font-size: 2.2em;
        }
        50%{
            font-size: 2.5em;
        }
        75%{
            font-size: 2.2em;
        }
        100%{
            font-size: 2.2em;
        }
    }

    .middle-5{
        padding: 500px 0 50px 0;
    }
    
}